#home{
    height: 80vh;
    background: linear-gradient(to left, #ea91d3, #7ee8fa);
    color: white;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills{
    margin-top: 70px;
}
#about, #projects, #contact, #skills{
    padding: 60px;
}
